@using System.Web.Hosting
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My CV</title>
    
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Content/style.css"/>
</head>
<body>
    <header class="jumbotron">
        <div class="container">
            <h3>Yarmolovich Alexander CV</h3>
            <p>
                <a class="btn btn-primary btn-lg" href="@Url.Action("DownloadCV", "Home")" role="button">Download .docx</a>
            </p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="panel-group" id="accordion">
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-1" class="collapsed">Contacts</a>
                        </h4>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li><strong>Mobile: </strong>+37529 7564567</li>
                                <li><strong>E-mail: </strong>yarmolovichalex@gmail.com</li>
                                <li><strong>Skype: </strong>yarmolovichalex</li>
                                <li><a href="https://github.com/yarmolovichalex">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-2" class="collapsed">Objective</a>
                        </h4>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <strong>ASP.NET MVC Developer</strong>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-3" class="collapsed">Skills Summary</a>
                        </h4>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <strong>Backend</strong>
                                    <ul>
                                        <li>C#</li>
                                        <li>ASP.NET (mainly MVC, but have experience with Web Forms)</li>
                                        <li>MS SQL Server (writing queries)</li>
                                        <li>Web Services (SOAP, REST)</li>
                                        <li>Experience with XML, JSON</li>
                                        <li>Security (experience in using encryption and hashing algorithms)</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Frontend</strong>
                                    <ul>
                                        <li>JavaScript (mainly jQuery)</li>
                                        <li>HTML, CSS (experience with Twitter Bootstrap)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-4" class="collapsed">Education</a>
                        </h4>
                    </div>
                    <div id="collapse-4" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <strong>2008 – 2013 BSEU </strong><p>Finance and credit in foreign economic activity</p>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse-5" class="collapsed">Employment History</a>
                        </h4>
                    </div>

                    <div id="collapse-5" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <img class="img-responsive" src="http://www.walletone.com/shared/service/page/380/w1.png" />
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                <p><em><strong>.NET Developer</strong></em></p>
                                                <p><em>July 2013 - Present</em></p>
                                                <p>
                                                    Wallet One – international payment service with offices in 12 countries and more than 5 million users.
                                                    It provides multicurrency account, convenient money transfers, 500.000 top-up and withdrawal points
                                                    in different currencies all over the world.
                                                </p>
                                                <strong>Responsibilities:</strong>
                                                <ul>
                                                    <li>Payment gateways development and support</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <img class="img-responsive" src="http://s.developers.org.ua/img/static/companies/Playtika_logo_new.png" />
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                <p><em><strong>QA Engineer (Slotomania project)</strong></em></p>
                                                <p><em>Oct 2012 – July 2013</em></p>
                                                <p>
                                                    Playtika offers multi-platform social games. Slotomania is Playtika’s flagship game. Introduced in October 2010,
                                                    Slotomania was the first of its kind in the world of social gaming and quickly became one of the top grossing
                                                    applications on Facebook, iOS and Android, with more than 50 million users worldwide.
                                                </p>
                                                <strong>Responsibilities:</strong>
                                                <ul>
                                                    <li>Writing test cases</li>
                                                    <li>Manual testing of mobile application on Android and iOS</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
